<div *ngIf="motos.length===0">
    <h1>No hay Motos</h1>
</div>

<table *ngIf="motos.length>0">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>IMAGEN</th>
            <th>DESCRIPTION</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of motos">
            <td>{{data.id}} </td>
            <td> {{data.name}} </td>
            <td> {{data.image}} </td>
            <td> {{data.description}} </td>
            <td> <button [routerLink]="['/create/', data.id]" name="editar">editar</button> </td>
            <td>
                <button name="eliminar" (click)="delete(data)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>

//setion 31